/* #region CSSreset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

/* #endregion CSSreset */

/* #region debug */
.debug * {
    border: 1px dashed black;
}

header {
    width: 100%;
    height: 72px;
    background-color: red;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

main {
    /* height: 1552px; */
    background-color: green;
}

footer {
    height: 110px;
    background-color: blue;
}

.boolando{
    align-items: center;
    justify-content: space-between;
}

.nav{
    width: 180px;
    height: 16px;
    background-color: yellow;
}

.logo{
    width: 146px;
    height: 35px;
    background-color: yellow;
}

.reserved-area{
    width: 67px;
    height: 16px;
    background-color: yellow;
}

.product-row{
    width: 100%;
    height: 700px;
    background-color: lightgreen;
    margin-bottom: 3rem;
}

.card{
    flex-grow: 1;
    height: 100%;
}

.card-img{
    width: 100%;
    height: 90%;
}

.card-details{
    width: 100%;
    height: 10%;
}

/* #endregion debug */

/* #region generics */
body {
    min-width: 1020px;
}

ul{
    list-style: none;
}

li{
    display: inline-block;
}

a{
    text-decoration: none;
}
/* #endregion generics */


/* #region Utilities */

.container {
    width: 70%;
    margin: 0 auto;
}

.d-flex{
    display: flex;
}

.p-absolute{
    position: absolute;
}

.p-relative{
    position: relative;
}

.p-fixed{
    position: fixed;
}

.m-top{
    margin-top: 8rem;
}

:root {
    --bl-principal: #ff6900;
    --bl-secondary: #1a1a1a;
    --bl-sale: #ff0000;
    --bl-sostenibility: #008000;
    --bl-bg-w: white;
}

/* #endregion Utilities */