/* #region CSSreset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

/* #endregion CSSreset */

/* #region debug */
.debug * {
    border: 1px dashed black;
}



main {
    /* height: 1552px; */
    background-color: green;
}

footer {
    height: 110px;
    background-color: blue;
}







.card-details {
    width: 100%;
    height: 10%;
}

.referrals {
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.credits {
    width: 386px;
    height: 57px;
    background-color: lightblue;
}

.socials {
    width: 148px;
    height: 57px;
    background-color: lightblue;
}

/* #endregion debug */

/* #region generics */
body {
    min-width: 1020px;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    margin-right: 0.5rem;
}

a {
    text-decoration: none;
}

/* #endregion generics */


/* #region Utilities */

.container {
    width: 70%;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.p-absolute {
    position: absolute;
}

.p-relative {
    position: relative;
}

.p-fixed {
    position: fixed;
}

.m-top {
    margin-top: 8rem;
}

:root {
    --bl-principal: #ff6900;
    --bl-secondary: #1a1a1a;
    --bl-sale: #ff0000;
    --bl-sostenibility: #008000;
    --bl-bg-w: white;
}

/* #endregion Utilities */

/* #region header */

header {
    width: 100%;
    background-color: var(--bl-principal);
    padding: 1rem 0;
}

.boolando {
    align-items: center;
    justify-content: space-between;
}

nav a {
    font-weight: bold;
    color: var(--bl-bg-w);
}

.logo {
    width: 145px;

    img {
        width: 100%;
    }
}

.reserved-area i {
    color: var(--bl-bg-w);
    margin-left: 0.5rem;
}

/* #endregion header */




/* #region main */


/* product row */
.product-row {
    gap: 1rem;
    margin-bottom: 3rem;
}

.card {
    width: 33.3%;
    height: 100%;
}

.card-img {
    width: 100%;
    height: 90%;

    img {
        width: 100%;
    }
}

.brand{
    text-transform: capitalize;
}

.product-name{
    font-weight: bold;
    text-transform: uppercase;
}

.sale-price{
    font-weight: bold;
    color: var(--bl-sale);
}

.old-price{
    text-decoration: line-through;
}

/* #endregion main */


